:root {
  --red: #e23636;
  --blue: #518cca;
  --grey: #504a4a;
  --darker-blue: #507eae;
  --light-grey: #c8c4c4;
}

@font-face {
  font-family: "Marvel-regular";
  src: url(./Marvel-Regular.ttf);
}

@font-face {
  font-family: "Stark";
  src: url(./Stark.otf);
}

* {
  box-sizing: border-box;
  font-family: "Stark";
  font-weight: 200;
  color: white;
}

html {
  font-size: 62.5%;
}

body {
  min-height: 100vh;
  background-color: var(--grey);
  margin: 0;
  padding: 0;
}

h1 {
  margin: 0;
  padding: 0.2em;
  font-weight: 200;
  font-size: 6.8rem;
  font-family: "Marvel-regular";
}

h2 {
  margin: 0;
  padding: 1.2rem;
  font-size: 4.8rem;
  background-color: var(--red);
}

h3 {
  font-weight: 200;
  font-size: 3.6rem;
  margin: 1rem;
  text-align: center;
}

h4 {
  margin: 0;
  font-weight: 200;
  font-size: 2.6rem;
  margin-bottom: 1rem;
  color: var(--light-grey);
}

p {
  font-family: "Marvel-regular";
  text-align: center;
  font-size: 2.8rem;
  letter-spacing: 1px;
  color: var(--light-grey);
}

button {
  padding-top: 5px;
  font-family: "Marvel-regular";
  background-color: var(--red);
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  font-size: 3rem;
  text-align: center;
  line-height: 40px;
  opacity: 35%;
}

button:hover {
  opacity: 100%;
  cursor: pointer;
}

header {
  background-color: var(--red);
  text-align: center;
}

section {
  background-color: var(--blue);
  margin: 2rem 0;
  box-shadow: 0 2px 10px 2px black;
}

img {
  width: 280px;
  height: 400px;
  box-shadow: 0 0 4px 4px black;
  border: 2px solid black;
}

.nav-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: fixed;
  bottom: 2rem;
  right: 2rem;
}

.container {
  padding: 1rem;
  background-color: var(--darker-blue);
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.container:nth-child(2n + 1) {
  background-color: var(--blue);
}

.left {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sticky {
  position: sticky;
  top: 0;
}

@media only screen and (min-width: 1024px) {
  html {
    font-size: 100%;
  }

  header {
    text-align: left;
  }

  section {
    margin: 2rem 10%;
  }

  .container {
    display: grid;
    grid-template-columns: minmax(min-content, 400px) 1fr;
  }

  .left {
    margin-top: 2rem;
    margin-left: 3rem;
  }

  p {
    padding: 20px;
    width: 100%;
    font-size: 3.4rem;
  }
}
